* {
    margin: 0;
    padding: 0;
    font-family: "YouYuan";
}

body {
    background: #d7d3b6;
}

.container {
    /*padding-top: 30px;*/
    width: 100%;
    height: 100%;
}

.main {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    overflow: hidden;
    text-align: center;
}

.main .gameName {
    font-size: 35px;
    font-weight: bold;
}

.main .maxScore {
    font-size: 20px;
}

.main .maxScore span {
    color: red;
    font-weight: bold;
}

.main .gameBody {
    /*width: 100%;*/
    height: 50%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 15px;
    background: #999;
    border-radius: 8px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.main .gameBody .row {
    display: flex;
    justify-content: space-between;
}

.main .gameBody .row .item {
    width: 70px;
    height: 70px;
    border-radius: 10px;
    background: #fff;
    text-align: center;
    line-height: 70px;
    font-size: 30px;
    font-weight: bold;
    margin: 5px;
    color: #666;
    font-family: "microsoft yahei";
}

.main .gameRule {
    font-size: 16px;
    font-weight: bold;
    margin-top: 5px;
}

.main .gameScore {
    font-size: 20px;
    font-weight: bold;
    margin-top: 0px;
}

.main .gameScore span {
    color: red;
    font-size: 30px;
}

.main .scoreAndRefresh {
    display: flex;
    justify-content: space-around;
    width: 280px;
    margin: 0 auto;
}

.main .scoreAndRefresh .refreshBtn {
    height: 30px;
    margin-top: 8px;
}

.modal {
    margin-top: 150px;

}

.modal .modal-header h4 {
    text-align: left;
    font-weight: bold;
}

.modal .modal-dialog {
    width: 300px;
    margin: 0 auto;

}

.modal .modal-body {
    font-size: 18px;
    font-weight: bold;
    color: red;
}